<div class="contenedor" style="padding-bottom:50px">
    <div class="row w-100 p-2 m-0" style="padding-bottom:50px; border-bottom: 2px #3B71CA solid; background-color: #d5f1f9;">
        <div class="col-6">
            <p class="fs-9 px-1 m-0 float-start"><b>Vstock PLANIFICADOR</b> ({{ version }})</p>
        </div>
        <div class="col-6">
            <p class="fs-9 px-1 m-0" style="float: right;"><b>Usuario:</b> {{ nombreUsuario }}</p>
        </div>
    </div>

    <!-- botones menu -->
    <mat-progress-bar mode="indeterminate" *ngIf="LPGen(WSGetInci_Validando)"></mat-progress-bar>
    <div class="container">
        <p>Botones prototipo Inicial</p>
        <div class="row pt-2">
            <div class="container">
                <div class="row">
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonBuscarOfertas"></app-boton-menu>
                    </div>
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonImportarOferta"></app-boton-menu>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonPlanificador"></app-boton-menu>
                    </div>
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonPruebas"></app-boton-menu>
                    </div>
                </div>
            </div>
        </div>
        
        <hr>
        <p>Botones beta 1</p>

        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonVentaBuscar"></app-boton-menu>
                    </div>
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonVentaImportar"></app-boton-menu>
                    </div>
                </div>
            </div>
        </div>        

        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonComprasBuscar"></app-boton-menu>
                    </div>
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonComprasImportar"></app-boton-menu>
                    </div>
                </div>
            </div>
        </div>  
        

        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonIncidencias"></app-boton-menu>
                    </div>
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">                        
                    </div>
                </div>
            </div>
        </div>         
        
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonStock"></app-boton-menu>
                    </div>
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                    </div>
                </div>
            </div>
        </div>   

        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonUsuarios"></app-boton-menu>                        
                    </div>
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">                        
                    </div>
                </div>
            </div>
        </div>           

    </div>
</div>

<!-- <div style="position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;">
    <button type="button" class="btn btn-danger">{{traducir('frm-principal.btnSalir', 'Salir')}}</button>
</div> -->

<div class="container p-1" style="position: fixed; bottom: 0; right: 0; left: 0; width: 100%; background-color: #F5F5F5;">
    <button (click)="cerrarSesion()" class="btn btn-danger w-100">{{traducir('frm-principal.btnSalir', 'Salir')}}</button>
</div>
<!-- position: fixed; bottom: 0; width: 100%;  -->

<dx-load-panel #loadPanel shadingColor="#F5F5F5" message="" [(visible)]="loadingPrincipalVisible" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>