<div class="contenedor" style="padding-bottom:50px">

    <div class="row w-100 p-1 m-0" style="padding-bottom:50px; border-bottom: 2px #3B71CA solid; background-color: #FFFFFF;">
        <div class="col-6 px-2" style="padding-top: 5px;">
            <img src="../../../assets/img/logo_Vstock.svg" width="120" height="30" alt="VStock">
            &nbsp;Planificador Layher <span style="font-size: 0.8em;">({{ version }})</span>
            <!-- <p class="fs-9 px-1 m-0 float-start"><b>Vstock PLANIFICADOR</b> ({{ version }})</p> -->
        </div>
        <div class="col-6 px-2" style="text-align:end; padding-top: 5px;">
            <i class="bi bi-person-fill" style="font-size: 1.2rem; color: #3B71CA;"></i>&nbsp;{{ nombreUsuario }}
            <!-- <p class="fs-9 px-1 m-0" style="float: right;"><b>Usuario:</b> {{ nombreUsuario }}</p> -->
        </div>
    </div>

    <!-- botones menu -->
    <mat-progress-bar mode="indeterminate" *ngIf="LPGen(WSGetInci_Validando)"></mat-progress-bar>
    <div class="container">

        <div class="row">
            <!-- Entradas Material -->
            <div class="col-6">               
                <div class="card" style="margin-top: 20px;">
                    <h5 class="card-header" style="font-size: 0.9em;">Gestión ENTRADAS de Material (Compras)</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                                <app-boton-menu [btnMenu]="botonComprasBuscar"></app-boton-menu>                      
                            </div>
                            <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                                <app-boton-menu [btnMenu]="botonComprasImportar"></app-boton-menu>
                            </div>
                        </div>
                    </div>
                  </div>                
            </div>
            <!-- Salidas Material-->
            <div class="col-6">
                <div class="card" style="margin-top: 20px;">
                    <h5 class="card-header" style="font-size: 0.9em;">Gestión SALIDAS de Material (Venta-Alquiler-Traspasos)</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                                <app-boton-menu [btnMenu]="botonVentaBuscar"></app-boton-menu>
                            </div>
                            <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                                <app-boton-menu [btnMenu]="botonVentaImportar"></app-boton-menu>
                            </div>
                        </div>
                    </div>
                  </div>                
            </div>
        </div>   


        <div class="row">
            <!-- Incidencias -->
            <div class="col-6">               
                <div class="card" style="margin-top: 20px;">
                    <h5 class="card-header" style="font-size: 0.9em;">Gestión de INCIDENCIAS y Excepciones</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                                <app-boton-menu [btnMenu]="botonIncidencias"></app-boton-menu>                      
                            </div>
                        </div>
                    </div>
                  </div>                
            </div>
            <!-- Maestro de Articulos-->
            <div class="col-6">
                <div class="card" style="margin-top: 20px;">
                    <h5 class="card-header" style="font-size: 0.9em;">Maestro de Articulos y Stock</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                                <app-boton-menu [btnMenu]="botonStock"></app-boton-menu>
                            </div>
                        </div>
                    </div>
                  </div>                
            </div>
        </div>   


        <!-- 
        <div class="row pt-2">
            <div class="container">
                <div class="row">
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonVentaBuscar"></app-boton-menu>
                    </div>
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonVentaImportar"></app-boton-menu>
                    </div>
                </div>
            </div>
        </div>        

        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonComprasBuscar"></app-boton-menu>
                    </div>
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonComprasImportar"></app-boton-menu>
                    </div>
                </div>
            </div>
        </div>   

        <div class="row" style="margin-top: 20px;">
            <div class="container">
                <div class="row">
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonIncidencias"></app-boton-menu>
                    </div>
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonStock"></app-boton-menu>                        
                    </div>
                </div>
            </div>
        </div>         
        

        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonStock"></app-boton-menu>
                    </div>
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">                        
                    </div>
                </div>
            </div>
        </div>  

        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonUsuarios"></app-boton-menu>                        
                    </div>
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">                        
                    </div>
                </div>
            </div>
        </div> 
        -->


        <!-- grupo de Administración aplicación -->
        <div class="card" style="margin-top: 20px;">
            <h5 class="card-header" style="font-size: 0.9em;">Opciones de Administración de la Aplicación</h5>
            <div class="card-body">
                <!-- <div class="container"> -->
                <div class="row">
                    <div class="col-4 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonUsuarios"></app-boton-menu>                        
                    </div>
                    <div class="col-4 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonConfiguracion"></app-boton-menu>                        
                    </div>
                    <div class="col-4 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonIniciarPeriodo"></app-boton-menu>                        
                    </div>                    
                </div>
                <!-- <div class="row">
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                        <app-boton-menu [btnMenu]="botonInciarPeriodo"></app-boton-menu>                        
                    </div>
                    <div class="col-6 pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                    </div>
                </div>                     -->
                <!-- </div> -->
            </div>
        </div>

    </div>
</div>

<!-- <div style="position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;">
    <button type="button" class="btn btn-danger">{{traducir('frm-principal.btnSalir', 'Salir')}}</button>
</div> -->

<div class="container p-1" style="position: fixed; bottom: 0; right: 0; left: 0; width: 100%; background-color: #F5F5F5;">
    <button (click)="cerrarSesion()" class="btn btn-danger w-100">{{traducir('frm-principal.btnSalir', 'Salir')}}</button>
</div>
<!-- position: fixed; bottom: 0; width: 100%;  -->

<dx-load-panel #loadPanel shadingColor="#F5F5F5" message="" [(visible)]="loadingPrincipalVisible" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>