<mat-progress-bar mode="indeterminate" *ngIf="LPGen(WSDatos_Validando)"></mat-progress-bar>

<div class="container" #container (window:resize)="onResize($event)" style="overflow-y: auto; height: 100%;">
    <div #pantalla>

        <!-- Titulo -->
        <div class="row px-1 py-2 titulo">
            <div class="col pt-1 px-1">
                <div class="fs-11 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16"> {{traducir('frm-incidencia.lblTitulo', 'Gestión de Incidencias')}} </div>
            </div>
            <!-- <div class="col-4 pt-0 px-1">
                <app-cmd-select-box #sbAlmacenes [dgConfigSB]="sbConfig" (onValueChanged_SelectBox)="onValueChanged_ComboAlmacen()"></app-cmd-select-box>
            </div>    -->
        </div>  

        <!-- SelectBox Tipo de Incidencia + botones Crear | limpiar -->
        <!--
        <div class="row px-1 pt-1">
            <div class="col-2 px-2 pt-1 text-right">
                <div class="fs-11 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16"> {{traducir('frm-incidencia.lblTipoIncidencia', 'Tipo Incidencia')}} </div>    
            </div>
            <div class="col-6 px-1">
                <dx-select-box #txtTipoIncidencia class="w-100 fs-12 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16" [height]="30" [showClearButton]="false" 
                    [(ngModel)]="str_txtTipoIncidencia"
                    dataSource="arrayTiposIncidencia"
                    displayExpr="NombreTipoIncidencia"
                    valueExpr="IdTipoIncidencia"
                    searchEnabled=true
                    [readOnly]="editandoIncidencia">
                </dx-select-box>
            </div>                        
            <div class="col-2 px-1"><app-cmp-boton-icono-hrz [btnIconoHrz]="btnIconoInsertar"></app-cmp-boton-icono-hrz></div>
            <div class="col-2 px-1"><app-cmp-boton-icono-hrz [btnIconoHrz]="btnIconoLimpiar"></app-cmp-boton-icono-hrz></div>
        </div>
        -->


        <!-- Formulario datos Incidencia -->
        <!-- <div *ngIf="editandoIncidencia">   -->
        <div>
            <!-- Formulario Datos Salida (Venta-Alquiler) -->
            <div class="row pt-2">
                <div id="form-container" class="formulario">
                    <dx-form id="formIncidencia" #formIncidencia [colCount]="4" [formData]="_incidencia" [readOnly]="!editandoIncidencia" labelMode='static' labelLocation="left">

                        <dxi-item itemType="group" caption="Identificación Incidencia" [colCount]="4" [colSpan]="4">
                            <dxi-item dataField="IdIncidencia" [editorOptions]="{disabled: true}">
                            </dxi-item>
                            <dxi-item dataField="FechaAlta" editorType="dxDateBox" [editorOptions]="{displayFormat: 'dd/MM/yyyy', disabled: true, width: '100%'}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo FECHA ALTA"></dxi-validation-rule>
                            </dxi-item> 
                            <dxi-item dataField="IdTipoIncidencia" [label]="{text:'Tipo Incidencia'}" [colSpan]="2" editorType="dxSelectBox" 
                                [editorOptions]="tipoIncidenciaOptions">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo TIPO INCIDENCIA"></dxi-validation-rule>
                            </dxi-item>
                            
                            <dxi-item dataField="FechaIncidencia" editorType="dxDateBox" [editorOptions]="{displayFormat: 'dd/MM/yyyy', disabled: false, width: '100%'}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo FECHA INCIDENCIA"></dxi-validation-rule>
                            </dxi-item> 
                            <dxi-item dataField="IdAlmacen" [label]="{text:'Almacen'}" [colSpan]="1" editorType="dxSelectBox" 
                                [editorOptions]="{ disabled:false, dataSource:arrayAlmacenes, displayExpr:'NombreAlmacen', valueExpr:'IdAlmacen', searchEnabled: true }">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo ALMACEN"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="Descripcion" [colSpan]="2" [editorOptions]="{disabled: false}">
                            </dxi-item>                                                        
                        </dxi-item>

                        <dxi-item itemType="group" #grDocumento id="grDocumento" caption="Identificación Contrato" readOnly="false" [colCount]="4" [colSpan]="4">
                            <dxi-item dataField="Contrato" editorType="dxTextBox" [editorOptions]="contratoOptions">
                            </dxi-item>
                            <dxi-item dataField="IdDocumento" [editorOptions]="{disabled:true, readOnly:true}">
                            </dxi-item>
                            <dxi-item itemType="empty" [colSpan]="2"></dxi-item>

                            <dxi-item dataField="NombreTipoDocumento" [label]="{text:'Tipo Doc.'}" [editorOptions]="{disabled: true, readOnly:true}">
                            </dxi-item>
                            <dxi-item dataField="IdCliProv" [label]="{text:'Id.Cli/Prov.'}" [editorOptions]="{disabled: true, readOnly:true}">
                            </dxi-item>
                            <dxi-item dataField="NombreCliProv" [label]="{text:'Nombre'}" [colSpan]="2" [editorOptions]="{disabled: true, readOnly:true}">
                            </dxi-item>
                        </dxi-item>

                        <dxi-item itemType="group" caption="Identificación Artículo" readOnly="false" [colCount]="4" [colSpan]="4">
                            <dxi-item dataField="IdArticulo" [editorOptions]="articuloOptions">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo ID ARTICULO"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="NombreArticulo" [colSpan]="2" [editorOptions]="{ disabled:true, readOnly:true }">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo NOMBRE ARTICULO"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="Unidades" [editorOptions]="{disabled: false}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo UNIDADES"></dxi-validation-rule>
                            </dxi-item> 
                        </dxi-item>

                        <dxi-item itemType="group" caption="Observaciones" [colCount]="4" [colSpan]="4">
                            <dxi-item dataField="Observaciones" [colSpan]="4" editorType="dxTextArea" [editorOptions]="{ height: 90 }"></dxi-item>
                        </dxi-item>                        

                    </dx-form>
                </div>
            </div>
        </div>

    </div>
</div>

<div #btnFooter>
    <app-cmp-botones-pantallas [botones]="btnAciones"></app-cmp-botones-pantallas>
</div>

<!-- popUp para busqueda y seleccion documento (compra/venta) asociado a la incidencia  -->
<dx-popup *ngIf="popUpVisibleDocumentos" #popUpDocumentos (window:resize)="onResize($event)" [dragEnabled]="false"  modal="true"
    [fullScreen]="false" 
    [(visible)]="popUpVisibleDocumentos" [showTitle]="true" [showCloseButton]="true" [closeOnOutsideClick]="false" 
    title="{{traducir('frm-incidencias-buscar.str_txtPopupDocumentos', 'Selección Contrato')}}"
    contentTemplate="contentSeleccionarContrato">
    <div *dxTemplate="let data of 'contentSeleccionarContrato'">
        <app-frm-incidencia-buscar-doc [incidencia]="_incidencia" (cerrarPopUp)="cerrarSeleccionarDocumento($event)"></app-frm-incidencia-buscar-doc>
    </div>    
</dx-popup>

<!-- popUp para seleccion de articulo  -->
<dx-popup *ngIf="popUpVisibleArticulos" #popUpArticulos (window:resize)="onResize($event)" [dragEnabled]="false"  modal="true"
    [fullScreen]="false" 
    [(visible)]="popUpVisibleArticulos" [showTitle]="true" [showCloseButton]="true" [closeOnOutsideClick]="false" 
    title="{{traducir('frm-articulos-buscar.str_txtPopupArticulos', 'Selección Articulo')}}"
    contentTemplate="contentSeleccionarArticulo">
    <div *dxTemplate="let data of 'contentSeleccionarArticulo'">
        <app-frm-incidencia-buscar-art [incidencia]="_incidencia" (cerrarPopUp)="cerrarSeleccionarArticulo($event)"></app-frm-incidencia-buscar-art>
    </div>    
</dx-popup>