<mat-progress-bar mode="indeterminate" *ngIf="LPGen(WSDatos_Validando)"></mat-progress-bar>

<div class="container" #container (window:resize)="onResize($event)" style="overflow-y: auto; height: 100%;">
    <div #pantalla>

        <!-- Titulo -->
        <div class="row px-1 py-2 titulo">
            <div class="col pt-1 px-1">
                <div class="fs-11 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16"> {{traducir('frm-incidencia.lblTitulo', 'Gestión de Incidencias')}} </div>
            </div>
            <!-- <div class="col-4 pt-0 px-1">
                <app-cmd-select-box #sbAlmacenes [dgConfigSB]="sbConfig" (onValueChanged_SelectBox)="onValueChanged_ComboAlmacen()"></app-cmd-select-box>
            </div>    -->
        </div>  

        <!-- SelectBox Tipo de Incidencia + botones Crear | limpiar -->
        <div class="row px-1 pt-1">
            <div class="col-2 px-2 pt-1 text-right">
                <div class="fs-11 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16"> {{traducir('frm-incidencia.lblTipoIncidencia', 'Tipo Incidencia')}} </div>    
            </div>
            <div class="col-6 px-1">
                <dx-select-box #txtTipoIncidencia class="w-100 fs-12 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16" [height]="30" [showClearButton]="false" 
                    [(ngModel)]="str_txtTipoIncidencia"
                    dataSource="arrayTiposIncidencia"
                    displayExpr="NombreTipoIncidencia"
                    valueExpr="IdTipoIncidencia"
                    searchEnabled=true
                    [readOnly]="editandoIncidencia">
                </dx-select-box>
            </div>                        
            <div class="col-2 px-1"><app-cmp-boton-icono-hrz [btnIconoHrz]="btnIconoInsertar"></app-cmp-boton-icono-hrz></div>
            <div class="col-2 px-1"><app-cmp-boton-icono-hrz [btnIconoHrz]="btnIconoLimpiar"></app-cmp-boton-icono-hrz></div>
        </div>

        <!-- Formulario datos Incidencia -->
        <div *ngIf="editandoIncidencia">  
            <hr class="my-1">
            <!-- Formulario Datos Salida (Venta-Alquiler) -->
            <div class="row pt-2">
                <div id="form-container" class="formulario">
                    <dx-form id="formIncidencia" #formIncidencia [colCount]="3" [formData]="_incidencia" labelMode='static' labelLocation="left">

                        <!-- <dxi-item itemType="group" caption="" [colCount]="3" [colSpan]="3"> -->
<!-- 
                            <dxi-item dataField="Contrato" [editorOptions]="{disabled: true}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo CONTRATO"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="IdEstado" editorType="dxSelectBox" [editorOptions]="{ disabled:false, dataSource:arrayTiposEstadoSalida, displayExpr:'NombreEstado', valueExpr:'IdEstado', searchEnabled: true }">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo ESTADO"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="FechaAlta" [editorOptions]="{disabled: true}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo FECHA ALTA"></dxi-validation-rule>
                            </dxi-item>

                            <dxi-item dataField="IdClienteERP"  [colSpan]="1" [editorOptions]="{disabled: true}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo ID CLIENTE"></dxi-validation-rule>
                            </dxi-item>                            
                            <dxi-item dataField="NombreCliente" [colSpan]="2" [editorOptions]="{disabled: false}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo NOMBRE CLIENTE"></dxi-validation-rule>
                            </dxi-item>                            

                            <dxi-item dataField="Referencia" class="dxbold" [editorOptions]="{disabled: false}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo REFERENCIA"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="Obra" [editorOptions]="{disabled: false}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo OBRA"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item itemType="empty" [colSpan]="1"></dxi-item>

                            <dxi-item dataField="IdAlmacen" editorType="dxSelectBox" [editorOptions]="{disabled:false, dataSource:arrayAlmacenes, displayExpr:'NombreAlmacen', valueExpr:'IdAlmacen', searchEnabled: true }">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo ALMACEN"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="FechaInicio" editorType="dxDateBox" [editorOptions]="{disabled: false, width: '100%', displayFormat: 'dd/MM/yyyy'}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo FECHA INICIO"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="FechaFin" editorType="dxDateBox" [editorOptions]="{disabled: false, width: '100%', displayFormat: 'dd/MM/yyyy'}">
                                <dxi-validation-rule *ngIf="requerirFechaFin" type="required" message="Debe indicar un valor para el campo FECHA FIN"></dxi-validation-rule>
                            </dxi-item>

                            <dxi-item dataField="Planificar" editorType="dxCheckBox" [editorOptions]="{disabled:false, width:'100%'}"></dxi-item>
                            <dxi-item dataField="Observaciones" editorType="dxTextArea" [editorOptions]="{ height: 90 }" [colSpan]="2"></dxi-item>
 -->
                            <!-- <dxi-item itemType="empty" [colSpan]="2"></dxi-item> -->
                        <!-- </dxi-item> -->
                    </dx-form>
                </div>
            </div>
        </div>

    </div>
</div>

<div #btnFooter>
    <app-cmp-botones-pantallas [botones]="btnAciones"></app-cmp-botones-pantallas>
</div>
