<div style="width: 100%; overflow: hidden;">
    <dx-data-grid #DataGrid class="dg-p-1 dg-p-sm-2 fs-11 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16" 
        [focusedRowEnabled]="dgConfig.focusedRowEnabled" 
        [dataSource]="dgConfig.dataSource" [columns]="dgConfig.columnas" [height]="dgConfig.alturaMaxima" 
        [noDataText]="dgConfig.txtDatosVacios" [errorRowEnabled]="false" [columnAutoWidth]="dgConfig.ColumnaAjustable"
        [allowColumnResizing]="false" [showBorders]="true"         
        [sorting]="{showSortIndexes:false}" 
        [filterRow]="{visible: dgConfig.filterRowVisible}"         
        (onRowClick)="onClick_DataGrid.emit($event)"
        (onRowDblClick)="onDoubleClick_DataGrid.emit($event)" 
        (onContentReady)="onContentReady_DataGrid.emit($event)" 
        (onRowPrepared)="onRowPrepared_DataGrid.emit($event)" 
        (onRowUpdated)="onRowUpdated_DataGrid.emit($event)" 
        (onRowUpdating)="onRowUpdating_DataGrid.emit($event)"
        (onFocusedRowChanged)="onFocusedRowChanged_DataGrid.emit($event)"
        (onCellDblClick)="onCellDoubleClick_DataGrid.emit($event)" 
        (onContextMenuPreparing)="onContextMenuPreparing_DataGrid.emit($event)" 
        [filterValue]="filtro" 
        [selection]="{mode: dgConfig.modoSeleccion}" 
        [disabled]="dgConfig.disabled" 
        [loadPanel]="{enabled: false}"         
        [wordWrapEnabled]=dgConfig.ColumnaWrap 
        [scrolling]="{mode: dgConfig.modoScrolling}" 
        [editing]="{confirmDelete : false, allowUpdating: dgConfig.editable, mode: 'cell'}"
        [pager]="{allowedPageSizes:'auto', displayMode: 'full', infoText: 'Num. registros {2}', showInfo: true, showNavigationButtons:false, visible: false}"
        [paging]="{enabled: false}" 
        (onExporting)="onExporting($event)">

        <dxo-filter-row [visible]="dgConfig.filterRowVisible">
            <dxo-operation-descriptions 
                between="Entre"
                contains="Contiene" 
                endsWith="Termina con" 
                equal="Igua a" 
                greaterThan="Mayor que" 
                greaterThanOrEqual="Mayor o igual a" 
                lessThan="Menor que" 
                lessThanOrEqual="Menor o igual a" 
                notContains="No contiene" 
                notEqual="Distinto a"
                startsWith="Empieza por">
            </dxo-operation-descriptions>
        </dxo-filter-row>

        <dxo-search-panel
            [visible]="mostrarPanelBusqueda"
            [width]="240"
            placeholder="Buscar..."
        ></dxo-search-panel>

        <dxo-export [enabled]="mostrarBotonExportar" [formats]="['xlsx']" [allowExportSelectedData]="false" 
            [texts]="{exportAll:'Exportar a Excel',exportSelectedRows:'Exportar filas seleccionadas a {0}',exportTo:'Exportar'}">
        </dxo-export>

    </dx-data-grid>
</div>