<mat-progress-bar mode="indeterminate" *ngIf="LPGen(WSDatos_Validando)"></mat-progress-bar>

<div class="container" #container (window:resize)="onResize($event)" style="overflow-y: auto; height: 100%;">
    <div #pantalla> 

        <!-- Titulo -->
        <div class="row px-1 py-2 titulo">
            <div class="col pt-1 px-1">
                <div class="fs-11 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16"> {{traducir('frm-importacion-maestros.lblTitulo', 'Importación Maestros e Inicialización Stock')}} </div>
            </div>
        </div>  

        <!-- Datos pantalla -->  

        <div class="row">
            <div class="col-2"></div>

            <!-- Articulos -->
            <div class="col-4">               
                <div class="card" style="margin-top: 20px; height: 90%;">
                    <h5 class="card-header" style="font-size: 0.9em;">Maestro de ARTICULOS</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                                <app-boton-menu [btnMenu]="botonStock"></app-boton-menu>                      
                            </div>
                        </div>
                    </div>
                  </div>                
            </div>

            <!-- Stock-->
            <div class="col-4">
                <div class="card" style="margin-top: 20px;">
                    <h5 class="card-header" style="font-size: 0.9em;">STOCK - Inicializar periodo</h5>
                    <div class="card-body">
                        <!-- <div class="row">
                            <div class="col pt-1 px-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5">
                                <app-cmd-select-box #sbAlmacenes [dgConfigSB]="sbConfig"></app-cmd-select-box>
                            </div> 
                        </div> -->
                        <div class="row">
                            <div class="col pt-1 pt-md-2 px-1 px-sm-3 px-md-3 px-lg-4 px-xl-5" style="min-height: 75px;">
                                <app-boton-menu [btnMenu]="botonIniciarPeriodo"></app-boton-menu>
                            </div>
                        </div>
                    </div>
                  </div>                
            </div>

            <div class="col-2"></div>
        </div>             

        <!-- Edicion de maestros de familias y subfamilias -->
        <!--
        <div class="row mt-3 mb-2">
            <div class="col-2"></div>
            <div class="col-8">
                <!- Tabs navs ->
                <ul class="nav nav-tabs" id="ex1" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="tab-familia" aria-controls="familias" role="tab" href="#familias">Maestro Familias</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="tab-subfamilia" aria-controls="subfamilias" role="tab" href="#subfamilias">Maestro Sub-Familias</a>
                    </li>
                </ul>             
                <!- Tabs content ->
                <div class="tab-content" id="ex1-content">
                    <div class="tab-pane fade show active" id="familias" role="tabpanel" aria-labelledby="tab-familia">
                        Tab 1 content
                    </div>
                    <div class="tab-pane fade" id="subfamilias" role="tabpanel" aria-labelledby="tab-subfamilia">
                        Tab 2 content
                    </div>   
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        -->
        
    </div>
</div>

<div #btnFooter>
    <app-cmp-botones-pantallas [botones]="btnAciones"></app-cmp-botones-pantallas>
</div>
