<mat-progress-bar mode="indeterminate" *ngIf="LPGen(WSDatos_Validando)"></mat-progress-bar>

<div class="container" #container (window:resize)="onResize($event)" style="overflow-y: auto; height: 100%;">
    <div #pantalla>

            <!-- Titulo -->
            <div class="row px-1 py-2 titulo">
                <div class="col pt-1 px-1">
                    <div class="fs-11 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16"> {{traducir('frm-articulos-stock.lblTitulo', 'Maestro Artículos-Stock')}} </div>
                </div>
                <div class="col-4 pt-0 px-1">
                    <app-cmd-select-box #sbAlmacenes [dgConfigSB]="sbConfig" (onValueChanged_SelectBox)="onValueChanged_ComboAlmacen()"></app-cmd-select-box>
                </div>   
            </div>  

            <!-- grid lista articulos -->    
            <div class="row">
                <div class="col pt-1 px-1">                     
                    <app-cmp-data-grid #dg [dgConfig]="dgConfig" 
                        (onDoubleClick_DataGrid)="onDoubleClick_DataGrid()">
                    </app-cmp-data-grid>
                </div>
            </div>
    </div>
</div>

<div #btnFooter>
    <app-cmp-botones-pantallas [botones]="btnAciones"></app-cmp-botones-pantallas>
</div>

<!-- popUp Editar Articulo -->
<dx-popup #popUpEditar (window:resize)="onResize($event)" [dragEnabled]="false"  modal="true" height="480px" width="640px"
    [fullScreen]="false" 
    [(visible)]="popUpVisibleEditar" [showTitle]="true" [showCloseButton]="true" [closeOnOutsideClick]="false" 
    title="{{traducir('frm-articulos-stock.str_txtPopupEditar', 'Editar Artículo')}}"
    contentTemplate="contentEditarArticulo">
    <div *dxTemplate="let data of 'contentEditarArticulo'">
        <app-frm-articulos-editar [articulo]="articuloSeleccionado" (cerrarPopUp)="cerrarEditarArticulo($event)"></app-frm-articulos-editar>
    </div>    
</dx-popup>

