<mat-progress-bar mode="indeterminate" *ngIf="LPGen(WSDatos_Validando)"></mat-progress-bar>

<div class="container" #container (window:resize)="onResize($event)" style="overflow-y: auto; height: 100%;">
    <div #pantalla>

            <!-- Titulo -->
            <div class="row px-1 py-2 titulo">
                <div class="col pt-1 px-1">
                    <div class="fs-11 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16"> {{traducir('frm-compra-buscar.lblTitulo', 'Lista Entradas incluidas en el Planificador (Compras)')}} </div>
                </div>
                <div class="col-4 pt-0 px-1">
                    <app-cmd-select-box #sbAlmacenes [dgConfigSB]="sbConfig" (onValueChanged_SelectBox)="onValueChanged_ComboAlmacen()"></app-cmd-select-box>
                </div>   
            </div>              

            <!-- grid lista ofertas -->    
            <div class="row">
                <div class="col pt-1 px-1">    
                    <app-cmp-data-grid #dg [dgConfig]="dgConfig" 
                        (onDoubleClick_DataGrid)="onDoubleClick_DataGrid($event)">
                    </app-cmp-data-grid>
                </div>
            </div>

    </div>
</div>

<div #btnFooter>
    <app-cmp-botones-pantallas [botones]="btnAciones"></app-cmp-botones-pantallas>
</div>

