::ng-deep .dx-header-row {
    font-size: 10px;
    height: 30px;
}

::ng-deep .dx-header-row .grisClaro,
::ng-deep .dx-header-row .verde,
::ng-deep .dx-header-row .verdeClaro,
::ng-deep .dx-header-row .gris,
::ng-deep .dx-header-row .blanco,
::ng-deep .dx-header-row .fecha {
    color: black;
}

::ng-deep .dx-header-row .grisClaro {
    background-color: #f2f2f2;
}

::ng-deep .dx-header-row .verde {
    background-color: rgb(84, 175, 87);
}

::ng-deep .dx-header-row .verdeClaro {
    background-color: rgb(179, 235, 181);
}

::ng-deep .dx-header-row .gris {
    background-color: rgb(227, 227, 227);
}

::ng-deep .dx-header-row .fecha {
    background-color: yellow;
}

::ng-deep .dx-header-row .fechaRoja {
    background-color: yellow;
    color: red;
}