<mat-progress-bar mode="indeterminate" *ngIf="LPGen(WSEnvioCsv_Validando)"></mat-progress-bar>

<div class="container" #container (window:resize)="onResize($event)" style="overflow-y: auto; height: 100%;">
    <div #pantalla>

        <div class="row">
            <div class="col px-1 pt-1">
                <span class="pr-1">{{traducir('frm-planificador.lblImportarOrden', 'Importar Orden: ')}}</span>
                <input type="file" accept="*" (change)="guardarCsv($event.target.files)">
            </div>
        </div>

        <div class="row">
            <div class="col px-1 pt-1">
                <button class="btn btn-primary" (click)="cargarDatos()" type="submit">Enviar Csv</button>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-3 pt-1 px-1">
                <app-cmp-boton-icono-hrz [btnIconoHrz]="btnIconoEnviar"></app-cmp-boton-icono-hrz>
            </div>
        </div> -->

        <div class="row pt-3">
            <div class="col-5 px-0">
                <div class="row" [ngStyle]="{'height': alturaDiv}">
                    <div class="col-2 ml-3">
                        <div class="row" style="height: 30px;"></div>
                        <div class="row mt-2" style="font-size: 11px; height: 25px;"><b>DESDE</b></div>
                        <div class="row mt-1" style="font-size: 11px; height: 25px;"><b>HASTA</b></div>
                    </div>
                    <div class="col-4 ml-1">
                        <div class="row" style="background-color: #00B0F0; border: solid; height: 30px; font-size: 20px;">EV 103+PODIUM</div>
                        <div class="row mt-2" style="color: white; background-color: #808080; border: solid; height: 25px; font-size: 11px;">08/08/2019</div>
                        <div class="row mt-1" style="color: white; background-color: black; border: solid; height: 25px; font-size: 11px;">25/08/2019</div>
                    </div>
                    <div class="col-3 ml-1">
                        <div class="row mt-1" style="height: 25px; font-size: 11px;">01/01/2019</div>
                        <div class="row mt-2" style="color: white; background-color: red; height: 25px; font-size: 14px;">WURTH</div>
                        <div class="row mt-2" style="background-color: #D9D9D9; border: solid; height: 25px;"></div>
                        <div class="row pt-1">
                            <div class="col-8" style="background-color: yellow; border: solid; height: 25px; font-size: 11px;">MADRID</div>
                            <div class="col-4" style="background-color: yellow; border: solid; height: 25px; font-size: 11px;"></div>
                        </div>
                    </div>
                    <div class="col-3 ml-1">
                        <div class="row" style="font-size: 11px;"><u>CLIENTE</u></div>
                        <div class="row" style="font-size: 11px;"><u>CONTRATO</u></div>
                        <div class="row mt-1" style="font-size: 11px;"><u>OBRA</u></div>
                        <div class="row mt-1" style="font-size: 11px;"><u>OBSERVACIONES</u></div>
                        <div class="row" style="font-size: 11px;"><b>SALIDA</b></div>
                        <div class="row mt-1" style="font-size: 11px;"><b>ENTRADA</b></div>
                    </div>
                </div>
                <app-cmp-data-grid #dgArticulos (onContentReady_DataGrid)="onContentReady_DataGridArticulos()" [dgConfig]="dgConfigArticulos"></app-cmp-data-grid>
            </div>
            <div class="col-7 px-0">
                <app-cmp-data-grid #dgUnidades (onContentReady_DataGrid)="onContentReady_DataGridUnidades()" [dgConfig]="dgConfigUnidades"></app-cmp-data-grid>
            </div>
        </div>

        <!-- <div class="row pt-1">
            <div class="col px-1">
                <app-cmp-data-grid #dgArticulos2 (onContentReady_DataGrid)="onContentReady_DataGrid2()" [dgConfig]="dgConfigArticulos2"></app-cmp-data-grid>
            </div>
        </div> -->

    </div>

</div>
<div #btnFooter>
    <app-cmp-botones-pantallas [botones]="btnAciones"></app-cmp-botones-pantallas>
</div>