<mat-progress-bar mode="indeterminate" *ngIf="LPGen(WSDatos_Validando)"></mat-progress-bar>

<div class="container" #container (window:resize)="onResize($event)" style="overflow-y: auto; height: 100%;">
    <div #pantalla>
        
        <!-- Titulo -->
        <div class="row px-1 py-2 titulo">
            <div class="col pt-1 px-1">
                <div class="fs-11 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16"> 
                    {{traducir('frm-planificador.lblTitulo', 'Planificación:')}} &nbsp; 
                    {{traducir('frm-planificador.lblTituloContrato', 'Contrato Salida')}}&nbsp;<b>{{_salida.Contrato}}</b> 
                    &nbsp;|&nbsp;
                    {{traducir('frm-planificador.lblTituloCliente', 'Cliente')}}&nbsp;<b>{{_salida.IdCliente}} - {{_salida.NombreCliente}}</b>
                </div>
            </div>
            <!-- <div class="col-4 pt-0 px-1">
                <app-cmd-select-box #sbAlmacenes [dgConfigSB]="sbConfig" (onValueChanged_SelectBox)="onValueChanged_ComboAlmacen()"></app-cmd-select-box>
            </div>    -->
        </div>          

        <!-- datos pantalla-->
        <div class="row pt-3">
            <div class="col-4 px-0">
                <div class="row" [ngStyle]="{'height': alturaDiv}">
                    <div class="col-9">
                        <div class="row">
                            <div class="col-2 mt-2">
                                <div class="row mt-2" style="font-size: 11px; height: 33px; align-items: center; text-align: right;"><b>CONTRATO</b></div>
                            </div>                            
                            <div class="col-10">
                                <dx-text-box #txtOferta class="centerBold row" style="background-color: #00B0F0; height: 42px; font-size: 20px;" [showClearButton]="false" [(ngModel)]="idOferta_mostrar" [disabled]="true">
                                </dx-text-box>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 mt-2">
                                <div class="row mt-2" style="font-size: 11px; height: 33px; align-items: center; text-align: right;"><b>DESDE</b></div>
                                <div class="row mt-2" style="font-size: 11px; height: 33px; align-items: center; text-align: right;"><b>HASTA</b></div>
                            </div>
                            <div class="col-5 mt-2">
                                <dx-text-box #txtFechaInicio class="centerBold fechaInicio row mt-2" style="background-color: #808080; height: 33px; font-size: 12px;" [showClearButton]="false" [(ngModel)]="fechaInicio_mostrar" [disabled]="true">
                                </dx-text-box>
                                <dx-text-box #txtFechaFin class="centerBold fechaFin row mt-2" style="background-color: black; height: 33px; font-size: 12px;" [showClearButton]="false" [(ngModel)]="fechaFin_mostrar" [disabled]="true">
                                </dx-text-box>
                                <dx-text-box #txtEstado class="centerBold row mt-2" style="background-color: rgb(255, 183, 183); height: 33px; font-size: 12px;" [showClearButton]="false" [(ngModel)]="estado_mostrar" [disabled]="true">
                                </dx-text-box>

                            </div>
                            <div class="col-5 mt-2" style="padding-left: 25px;">
                                <div class="row mt-2" style="height: 33px; font-size: 12px; align-items: center; justify-content: center; font-weight: bold;">{{ fechaAlta_mostrar }}</div>
                                <dx-text-box #txtCliente class="centerBold row mt-2" style="background-color: red; height: 33px; font-size: 12px;" [showClearButton]="false" [(ngModel)]="cliente_mostrar" [disabled]="true">
                                </dx-text-box>
                                <dx-text-box #txtEmpresa class="centerBold row mt-2" style="background-color: yellow; height: 33px; font-size: 12px;" [showClearButton]="false" [(ngModel)]="almacen_mostrar" [disabled]="true">
                                </dx-text-box>
                            </div>
                        </div>
                    </div>
                    <div class="col-3" style="padding-right: 20px;">
                        <div class="row" style="height: 30px; font-size: 11px; align-items: center; text-align: right;"><u>CLIENTE</u></div>
                        <div class="row" style="height: 30px; font-size: 11px; align-items: center; text-align: right;"><u>CONTRATO</u></div>
                        <div class="row" style="height: 30px; font-size: 11px; align-items: center; text-align: right;"><u>OBRA</u></div>
                        <div class="row" style="height: 30px; font-size: 11px; align-items: center; text-align: right;"><u>OBSERVACIONES</u></div>
                        <div class="row" style="height: 30px; font-size: 11px; align-items: center; text-align: right;"><b>SALIDA</b></div>
                        <div class="row" style="height: 30px; font-size: 11px; align-items: center; text-align: right;"><b>ENTRADA</b></div>
                        <div class="row" style="height: 30px; font-size: 11px; align-items: center; text-align: right;"><u>ESTADO</u></div>
                    </div>
                </div>
                <div class="row">
                    <app-cmp-data-grid id="dgArticulos" #dgArticulos (onContentReady_DataGrid)="onContentReady_DataGridArticulos()" (onFocusedRowChanged_DataGrid)="onFocusedRowChanged_DataGridArticulos($event)" [dgConfig]="dgConfigArticulos"></app-cmp-data-grid>
                </div>
            </div>
            <div class="col-8 px-0">
                <app-cmp-data-grid id="dgUnidades" #dgUnidades [dgConfig]="dgConfigUnidades"
                    (onContentReady_DataGrid)="onContentReady_DataGridUnidades()" 
                    (onFocusedRowChanged_DataGrid)="onFocusedRowChanged_DataGridUnidades($event)"
                    (onCellDoubleClick_DataGrid)="onCellDblClick_DataGridUnidades($event)"
                    (onContextMenuPreparing_DataGrid)="onContextMenuPreparing_DataGridUnidades($event)">
                </app-cmp-data-grid>
            </div>

            <dx-context-menu
                [dataSource]="itemsMenuArticulos"
                [width]="200"
                target="#dgArticulos"
                (onItemClick)="itemMenuArticulosClick($event)">
            </dx-context-menu>

            <dx-context-menu
                [dataSource]="itemsMenuContratos"
                [width]="200"
                target="#dgUnidades"
                (onItemClick)="itemMenuContratosClick($event)">
            </dx-context-menu>            

        </div>

    </div>
</div>

<div #btnFooter>
    <app-cmp-botones-pantallas [botones]="btnAciones"></app-cmp-botones-pantallas>
</div>

<!-- popUp para seleccion de articulo  -->
<dx-popup *ngIf="popUpVisibleArticulos" #popUpArticulos (window:resize)="onResize($event)" [dragEnabled]="false"  modal="true"
    [fullScreen]="false" 
    [(visible)]="popUpVisibleArticulos" [showTitle]="true" [showCloseButton]="true" [closeOnOutsideClick]="false" 
    title="{{traducir('frm-articulos-buscar.str_txtPopupArticulos', 'Selección Articulo')}}"
    contentTemplate="contentSeleccionarArticulo">
    <div *dxTemplate="let data of 'contentSeleccionarArticulo'">
        <app-frm-articulos-buscar [idAlmacen]="oOfertaSeleccionada.IdAlmacen" (cerrarPopUp)="cerrarSeleccionarArticulo($event)"></app-frm-articulos-buscar>
    </div>    
</dx-popup>

