<mat-progress-bar mode="indeterminate" *ngIf="LPGen(WSDatos_Validando)"></mat-progress-bar>

<div class="container" #container (window:resize)="onResize($event)" style="overflow-y: auto; height: 100%;">
    <div #pantalla>

        <!-- Titulo -->
        <!-- <div class="row px-1 py-2 titulo">
            <div class="col pt-1 px-1">
                <div class="fs-11 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16"> {{traducir('frm-planificador-und.lblTitulo', 'Editar Unidades Asignadas')}} </div>
            </div>   
        </div>   -->

        <!-- Formulario cliente -->
        <div class="row pt-2">
            <div id="form-container" class="formulario">
                <dx-form id="formModLineaArticulo" #formModLineaArticulo [colCount]="2" [formData]="_lineaCopia" labelMode="static" [readOnly]="!modoEdicion" (onContentReady)="setFocus()">
                    
                    <dxi-item itemType="group" caption="" [colCount]="2" [colSpan]="2">
                        <dxi-item dataField="Contrato" [editorOptions]="{disabled: true}"></dxi-item>
                        <dxi-item itemType="empty" [colSpan]="1 "></dxi-item>

                        <dxi-item dataField="Cliente" [colSpan]="2" [editorOptions]="{disabled:true}"></dxi-item>
                        
                        <dxi-item dataField="IdArticulo" [editorOptions]="{disabled: true}"></dxi-item>
                        <dxi-item itemType="empty" [colSpan]="1 "></dxi-item>
                        <dxi-item dataField="NombreArticulo" [colSpan]="2" [editorOptions]="{disabled:true}"></dxi-item>                           

                        <dxi-item dataField="UndPedidas" [editorOptions]="{disabled: true}"></dxi-item>
                        <dxi-item dataField="UndDisponibles" [editorOptions]="{disabled: true}"></dxi-item>
                        
                        <dxi-item dataField="UndServidas" #UndServidas [editorOptions]="textBoxReservadasOptions">
                            <dxi-validation-rule type="required" message="Debe indicar un valor para el campo UND.SERVIDAS"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item itemType="empty" [colSpan]="1 "></dxi-item>

                    </dxi-item>  

                </dx-form>
            </div>
        </div>
        
    </div>
</div>



<div #btnFooter>
    <app-cmp-botones-pantallas [botones]="btnAciones"></app-cmp-botones-pantallas>
</div>
