<mat-progress-bar mode="indeterminate" *ngIf="LPGen(WSDatos_Validando)"></mat-progress-bar>

<div class="container" #container (window:resize)="onResize($event)" style="overflow-y: auto; height: 100%;">
    <div #pantalla>

        <!-- Titulo -->
        <!-- <div class="row px-1 py-2 titulo">
            <div class="col pt-1 px-1">
                <div class="fs-11 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16"> 
                    {{traducir('frm-venta-lineas.lblTitulo', 'Excepciones linea salida material')}}
                </div>
            </div>   
        </div>          -->

        <!-- Formulario Datos Linea Entrada (Compra) -->
        <div class="row pt-2">
            <div id="form-container" class="formulario">
                <dx-form id="formSalidaLinea" #formSalidaLinea [colCount]="3" [formData]="_lineaSalida" labelMode='static' labelLocation="left" [readOnly]="false">

                    <dxi-item dataField="IdArticulo" [colSpan]="1" [editorOptions]="{disabled: true}">
                        <dxi-validation-rule type="required" message="Debe indicar un valor para el campo ID PROVEEDOR"></dxi-validation-rule>
                    </dxi-item>                            
                    <dxi-item dataField="NombreArticulo" [colSpan]="2" [editorOptions]="{disabled: true}">
                        <dxi-validation-rule type="required" message="Debe indicar un valor para el campo NOMBRE PROVEEDOR"></dxi-validation-rule>
                    </dxi-item>                            

                    <dxi-item dataField="CantidadPedida" [colSpan]="1" editorType="dxNumberBox" 
                        [editorOptions]="{disabled:!modoImportacion, showSpinButtons:true, mode:'number', min:1, step:1, invalidValueMessage:'Num Unidades debe terner un valor mayor que cero'}">
                        <dxi-validation-rule type="required" message="Debe indicar un valor para el campo CANTIDAD PEDIDA"></dxi-validation-rule>
                    </dxi-item>                            
                    <dxi-item itemType="empty" [colSpan]="2"></dxi-item>

                    <dxi-item dataField="" [colSpan]="3" [template]="'excepciones'">
                    </dxi-item>
                    
                    <dxi-item dataField="FechaInicio" 
                        editorType="dxDateBox" 
                        [editorOptions]="{disabled:false, width:'100%', displayFormat:'dd/MM/yyyy', type:'date', onValueChanged:onFechaInicioValueChanged.bind(this)}">
                        <!-- <dxi-validation-rule type="required" message="Debe indicar un valor para el campo FECHA INICIO"></dxi-validation-rule>                         -->
                    </dxi-item>
                    <dxi-item dataField="FechaFin" 
                        editorType="dxDateBox" 
                        [editorOptions]="{disabled:false, width:'100%', displayFormat:'dd/MM/yyyy', type:'date', onValueChanged:onFechaFinValueChanged.bind(this)}">
                        <!-- <dxi-validation-rule *ngIf="requerirFechaConfirmacion" type="required" message="Debe indicar un valor para el campo FECHA FIN"></dxi-validation-rule> -->
                    </dxi-item>
                    <dxi-item dataField="FechaActualizacion" editorType="dxDateBox" [editorOptions]="{disabled: true, width: '100%', displayFormat: 'dd/MM/yyyy'}">
                        <!-- <dxi-validation-rule type="required" message="Debe indicar un valor para el campo FECHA ACTUALIZACION"></dxi-validation-rule> -->
                    </dxi-item>
                        
                    <!-- <dxi-item itemType="empty" [colSpan]="2"></dxi-item> -->

                    <div *dxTemplate="let data of 'excepciones'" style="background-color: gold; padding: 3px 0px;">
                        <div id="template-content">
                          <i id="helpedInfo" class="dx-icon dx-icon-info" style="margin-right: 10px;margin-left: 10px;font-size: 20px;"></i>
                          Excepcion Fechas Inicio-Fin diferentes a lo indicado en el contrato salida.
                        </div>
                    </div>
                </dx-form>
            </div>
        </div>                 

    </div>
</div>

<div #btnFooter>
    <app-cmp-botones-pantallas [botones]="btnAciones"></app-cmp-botones-pantallas>
</div>





