::ng-deep .dx-header-row .escoranda {
    color: black;
    /* font-style: italic; */
    background-color: #f2f2f2;
}

::ng-deep .dx-header-row .verde {
    color: black;
    /* font-style: italic; */
    background-color: rgb(0, 118, 4);
}

::ng-deep .dx-header-row .gris {
    color: black;
    /* font-style: italic; */
    background-color: rgb(227, 227, 227);
}

::ng-deep .dx-header-row .fecha {
    color: black;
    /* font-style: italic; */
    background-color: yellow;
}

::ng-deep .dx-header-row .fechaRoja {
    /* font-style: italic; */
    background-color: yellow;
    color: red;
}