<mat-progress-bar mode="indeterminate" *ngIf="LPGen(WSDatos_Validando)"></mat-progress-bar>

<div class="container" #container (window:resize)="onResize($event)" style="overflow-y: auto; height: 100%;">
    <div #pantalla>

        <!-- Titulo -->
        <div class="row px-1 py-2 titulo">
            <div class="col pt-1 px-1">
                <div class="fs-11 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16"> {{traducir('frm-articulos-editar.lblTitulo', 'Detalles Artículo')}} </div>
            </div>   
        </div>  

        <!-- Formulario cliente -->
        <div class="row pt-2">
            <div id="form-container" class="formulario">
                <dx-form id="formArticulo" #formArticulo [colCount]="2" [formData]="_articuloCopia" labelMode="static" [readOnly]="!modoEdicion">
                        
                    <dxi-item dataField="IdArticulo" [editorOptions]="{disabled: true}"></dxi-item>
                    <dxi-item itemType="empty" [colSpan]="1 "></dxi-item>

                    <dxi-item dataField="NombreArticulo" [colSpan]="2" [editorOptions]="{disabled:true}"></dxi-item>                           

                    <dxi-item dataField="IdFamilia" [label]="{text:'Familia'}" [colSpan]="2" editorType="dxSelectBox" 
                        [editorOptions]="{disabled:false, dataSource:arrayFamilias, displayExpr:'NombreFamilia', valueExpr:'IdFamilia', searchEnabled: true }">                            
                    </dxi-item>

                    <dxi-item dataField="IdSubfamilia" [label]="{text:'Subfamilia'}" [colSpan]="2" editorType="dxSelectBox" 
                        [editorOptions]="{disabled:false, dataSource:arraySubfamilias, displayExpr:'NombreSubfamilia', valueExpr:'IdSubfamilia', searchEnabled: true }">                            
                    </dxi-item>

                    <dxi-item dataField="Secundario" editorType="dxCheckBox" [editorOptions]="{disabled:false, width:'100%'}"></dxi-item>
                    <dxi-item itemType="empty" [colSpan]="1 "></dxi-item>

                </dx-form>
            </div>
        </div>
        
    </div>
</div>



<div #btnFooter>
    <app-cmp-botones-pantallas [botones]="btnAciones"></app-cmp-botones-pantallas>
</div>





