<mat-progress-bar mode="indeterminate" *ngIf="LPGen(WSDatos_Validando)"></mat-progress-bar>

<div class="container" #container (window:resize)="onResize($event)" style="overflow-y: auto; height: 100%;">
    <div #pantalla>

        <!-- Titulo -->
        <div class="row px-1 py-2 titulo">
            <div class="col pt-1 px-1">
                <div class="fs-11 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16"> {{traducir('frm-usuario.lblTitulo', 'Detalles Usuario')}} </div>
            </div>   
        </div>  

        <!-- Formulario cliente -->
        <div class="row pt-2">
            <div id="form-container" class="formulario">
                <dx-form id="formUsuario" #formUsuario [colCount]="5" [formData]="_usuario" labelMode="static" [readOnly]="!modoEdicion">

                    <dxi-item itemType="group" caption="Datos Usuario" [colCount]="4" [colSpan]="4">
                        
                        <dxi-item dataField="IdUsuario" [editorOptions]="{disabled: true}"></dxi-item>
                        <dxi-item dataField="FechaAlta" editorType="dxDateBox" [editorOptions]="{displayFormat: 'dd/MM/yyyy', disabled: true, width: '100%'}"></dxi-item>
                        <dxi-item dataField="FechaBaja" editorType="dxDateBox" [editorOptions]="{displayFormat: 'dd/MM/yyyy', disabled: true, width: '100%'}"></dxi-item>
                        <dxi-item dataField="Baja" editorType="dxCheckBox" #cbBaja [editorOptions]="checkBoxBajaOptions"></dxi-item>
                        <!-- <dxi-item dataField="Baja" editorType="dxCheckBox" #cbBaja [editorOptions]='{disabled: !modoEdicion (onValueChanged)="cbBaja_onValueChanged($event)"}'></dxi-item> -->

                        <dxi-item dataField="NombreUsuario" [colSpan]="2" [editorOptions]="{disabled:false}">
                            <dxi-validation-rule type="required" message="Debe indicar un valor para el campo NOMBRE USUARIO"></dxi-validation-rule>
                        </dxi-item>                           
                        <dxi-item dataField="Login" [colSpan]="1" [editorOptions]="{disabled:false}">
                            <dxi-validation-rule type="required" message="Debe indicar un valor para el campo LOGIN"></dxi-validation-rule>
                        </dxi-item>       
                                           
                        <dxi-item dataField="Password" [colSpan]="1"  [editorOptions]="textBoxPasswordOptions">                           
                            <dxi-validation-rule type="required" message="Debe indicar un valor para el campo PASSWORD"></dxi-validation-rule>
                        </dxi-item>  

                        <dxi-item dataField="IdIdioma" editorType="dxSelectBox" [editorOptions]="{ disabled:true, dataSource:arrayIdiomas, displayExpr:'NombreIdioma', valueExpr:'IdIdioma', searchEnabled: true }">
                            <dxi-validation-rule type="required" message="Debe indicar un valor para el campo IDIOMA"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="idAlmacenDefecto" editorType="dxSelectBox" [editorOptions]="{ disabled:false, dataSource:arrayAlmacenes, displayExpr:'NombreAlmacen', valueExpr:'IdAlmacen', searchEnabled: true }">
                            <dxi-validation-rule type="required" message="Debe indicar un valor para el campo ALMACEN"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="Email" [colSpan]="2" [editorOptions]="{disabled:false}" [colSpan]="2"></dxi-item>
                    </dxi-item>         
                    
                    <!-- editorType="dxTexttBox" [template]="'passwordBox'"> -->
                    <!-- <div *dxTemplate="let data of 'passwordBox'">
                        <dx-text-box [(mode)]="passwordMode" disabled='false' (readOnly)="!modoEdicion">
                           <dxi-button
                            name="pass"
                            location="after"
                            [options]="passwordButton">
                          </dxi-button>
                        </dx-text-box>
                    </div> -->

                    <dxi-item itemType="group" caption="Permisos" [colCount]="1" [colSpan]="1">
                        <dxi-item dataField="Administrador" editorType="dxCheckBox" [editorOptions]="{disabled:false, width:'100%'}"></dxi-item>
                        <dxi-item dataField="VerAlmacenes" editorType="dxCheckBox" [editorOptions]="{disabled:false, width:'100%'}"></dxi-item>
                        <!-- <dxi-item itemType="empty" [colSpan]="2 "></dxi-item> -->
                    </dxi-item>

                </dx-form>
            </div>
        </div>
<!-- 
        <dx-context-menu
            [dataSource]="itemsMenuVerClave"
            [width]="200"
            target="#tbPassword"
            (onItemClick)="itemMenuVerClave($event)">
        </dx-context-menu> -->

        <span class="dx-widget dx-form-group-caption pt-2">{{traducir('frm-usuario.lblAlmacenesAsignados', 'Almacenes asignados para planificación')}} </span>
        <!-- grid lineas cargadas del CSVs -->    
        <!-- <div class="row">
            <div class="col pt-1 px-1">    
                <app-cmp-data-grid #dg [dgConfig]="dgConfigLineas"></app-cmp-data-grid>
            </div>
        </div>  -->

        <div class="row barraGrupo">
            <div class="col pt-1 px-2 m-2 border rounded">     
                <div style="background-color: rgb(202, 202, 202); padding: 5px;">Almacenes disponibles</div>     
                <dx-list
                    [disabled]="!modoEdicion"
                    [dataSource]="arrayAlmacenesDisponibles"
                    [repaintChangesOnly]="true"
                    keyExpr="IdAlmacen"
                    displayExpr="NombreAlmacen">
                        <dxo-item-dragging
                        group="almacenes"
                        [data]="arrayAlmacenesDisponibles"
                        [allowReordering]="true"                        
                        [onDragStart]="onDragStart"
                        [onAdd]="onAdd"
                        [onRemove]="onRemove"
                    >
                    </dxo-item-dragging>                                      
                </dx-list>
            </div>
            <div class="col pt-1 px-2 m-2 border rounded">
                <div style="background-color: rgb(170, 250, 200); padding: 5px;">Almacenes Asignados</div>
                <dx-list
                    [disabled]="!modoEdicion"
                    [dataSource]="arrayAlmacenesAsignados"
                    [repaintChangesOnly]="true"
                    keyExpr="IdAlmacen"
                    displayExpr="NombreAlmacen">
                        <dxo-item-dragging
                        group="almacenes"
                        [data]="arrayAlmacenesAsignados"
                        [allowReordering]="true"
                        [onDragStart]="onDragStart"
                        [onAdd]="onAdd"
                        [onRemove]="onRemove"
                    >
                    </dxo-item-dragging>                                        
                </dx-list>                
            </div>
        </div>
    </div>
</div>


<div *ngIf="modoEdicion" #btnFooter>
    <app-cmp-botones-pantallas [botones]="btnAcionesEdicion"></app-cmp-botones-pantallas>
</div>

<div *ngIf="!modoEdicion" #btnFooter>
    <app-cmp-botones-pantallas [botones]="btnAciones"></app-cmp-botones-pantallas>
</div>




