<mat-progress-bar mode="indeterminate" *ngIf="LPGen(WSDatos_Validando)"></mat-progress-bar>

<div class="container" #container (window:resize)="onResize($event)" style="overflow-y: auto; height: 100%;">
    <div #pantalla>

        <!-- Titulo -->
        <div class="row px-1 py-2 bg-secondary">
            <div class="col pt-1 px-1 text-white text-center">
                <div class="fs-11 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16"> {{traducir('frm-venta-importar.lblTitulo', 'Importar Ventas-Ofertas')}} </div>
            </div>   
        </div>  

        <!-- TextBox Referencia venta a importar + botones Buscar | limpiar -->
        <div class="row px-1 pt-1">
            <div class="col-2 px-2 pt-1 text-right">
                <div class="fs-11 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16"> {{traducir('frm-venta-importar.lblNumDocumento', 'Num.Documento')}} </div>    
            </div>
            <div class="col-6 px-1 pt-1">
                <dx-text-box #txtDocumento class="w-100 fs-12 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16" [height]="30" [showClearButton]="false" 
                [(ngModel)]="str_txtDocumento"
                [ngStyle]="{'background-color': color_txtDocumento}" 
                (onEnterKey)="onEnterKey_campo()" 
                (onValueChanged)="onValueChanged_campo()"  
                format="text"  
                [readOnly]="documentoValido">
            </dx-text-box>
            </div>                        
            <div class="col-2 px-1"><app-cmp-boton-icono-hrz [btnIconoHrz]="btnIconoBuscar"></app-cmp-boton-icono-hrz></div>
            <div class="col-2 px-1"><app-cmp-boton-icono-hrz [btnIconoHrz]="btnIconoLimpiar"></app-cmp-boton-icono-hrz></div>
        </div>

        <!-- Datos de la venta  obtenidos del ERP-->
        <div *ngIf="documentoValido">  
            <hr class="my-1">
            <div *ngIf="aviso" class="row p-0 px-1" style="background-color: #e37f1873;">
                <div class="col text-center">Aviso! Documento ya importado en el planificador.</div>
            </div>     
            <!-- Formulario Datos Compra -->
            <div class="row pt-0">
                <div id="form-container" class="formulario">
                    <dx-form id="formOferta" #formOferta [colCount]="3" [formData]="_oferta" labelMode="static">

                        <dxi-item itemType="group" caption="Datos {{str_txtTipoDocumento}}" [colCount]="3" [colSpan]="3">
                            <dxi-item dataField="Referencia" [editorOptions]="{disabled: false}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo REFERENCIA"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="IdEstado" editorType="dxSelectBox" [editorOptions]="{ disabled:false, dataSource:arrayTiposEstadoOferta, displayExpr:'NombreEstado', valueExpr:'IdEstado', searchEnabled: true }">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo ESTADO OFERTA"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="FechaAlta" [editorOptions]="{disabled: true}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo FECHA ALTA"></dxi-validation-rule>
                            </dxi-item>

                            <dxi-item dataField="Cliente" [editorOptions]="{disabled: false}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo CLIENTE"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="Contrato" [editorOptions]="{disabled: false}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo CONTRATO"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="Obra" [editorOptions]="{disabled: false}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo OBRA"></dxi-validation-rule>
                            </dxi-item>

                            <dxi-item dataField="FechaInicio" editorType="dxDateBox" [editorOptions]="{disabled: false, width: '100%', displayFormat: 'dd/MM/yyyy'}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo FECHA INICIO"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="FechaFin" editorType="dxDateBox" [editorOptions]="{disabled: false, width: '100%', displayFormat: 'dd/MM/yyyy'}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo FECHA FIN"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="IdAlmacen" editorType="dxSelectBox" [editorOptions]="{ disabled:true, dataSource:arrayAlmacenes, displayExpr:'NombreAlmacen', valueExpr:'IdAlmacen', searchEnabled: true }">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo ALMACEN"></dxi-validation-rule>
                            </dxi-item>

                            <dxi-item dataField="Observaciones" editorType="dxTextArea" [editorOptions]="{ height: 90 }" [colSpan]="3"></dxi-item>

                        </dxi-item>                   
                    </dx-form>
                </div>
            </div>
                  
            <!-- grid lineas venta cargadas del CSVs/ERP -->    
            <div class="row px-1">
                <div class="col pt-1 px-1">    
                    <app-cmp-data-grid #dg [dgConfig]="dgConfigLineas"></app-cmp-data-grid>
                </div>
            </div>            
            
        </div>

    </div>
</div>

<div #btnFooter>
    <app-cmp-botones-pantallas [botones]="btnAciones"></app-cmp-botones-pantallas>
</div>