<mat-progress-bar mode="indeterminate" *ngIf="LPGen(WSDatos_Validando)"></mat-progress-bar>

<div class="container" #container (window:resize)="onResize($event)" style="overflow-y: auto; height: 100%;">
    <div #pantalla>

        <!-- Titulo -->
        <div class="row px-1 py-2 titulo">
            <div class="col pt-1 px-1">
                <div class="fs-11 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16"> {{traducir('frm-importar-csv.lblTitulo', 'SIMULACION PLANIFICADOR: Pre-Importación CSV salidas de material')}} </div>
            </div>   
        </div>  

        <!-- Información de PRE-carga - simulación planificador -->
        <div>  
            <!-- <hr class="my-1">
            <div class="row pt-1 px-2" style="border-bottom: 1px dotted darkgray">
                <div class="col px-1">Datos contrato {{str_txtTipoDocumento}} a importar</div>
                <div *ngIf="aviso" class="col px-1" style="color: red;text-align:end;">                    
                    <i class="bi bi-exclamation-triangle-fill" style="font-size: 1.2rem; color:red;"></i>&nbsp;Contrato ya importado en el planificador.
                </div>
            </div> -->

            <!-- Formulario Datos Salida (Venta-Alquiler) -->
            <div class="row pt-2">
                <div id="form-container" class="formulario">
                    <dx-form id="formSalida" #formSalida [colCount]="3" [formData]="_salida" labelMode='static' labelLocation="left" (onContentReady)="formReady()">

                        <!-- <dxi-item itemType="group" caption="" [colCount]="3" [colSpan]="3"> -->

                            <dxi-item dataField="Contrato" [editorOptions]="{disabled: true}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo CONTRATO"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="IdTipoDocumento" editorType="dxSelectBox" [editorOptions]="{disabled:false, dataSource:arrayTiposDocumentos, displayExpr:'NombreDocumento', valueExpr:'IdTipoDocumento', searchEnabled: true }">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo TIPO CONTRATO"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="Planificar" editorType="dxCheckBox" [editorOptions]="{disabled:false, width:'100%'}"></dxi-item>
                            
                            <!-- <dxi-item itemType="empty" [colSpan]="1"></dxi-item> -->
                            <!-- <dxi-item dataField="IdEstado" editorType="dxSelectBox" [editorOptions]="{ disabled:false, dataSource:arrayTiposEstadoSalida, displayExpr:'NombreEstado', valueExpr:'IdEstado', searchEnabled: true }">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo ESTADO"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="FechaAlta" [editorOptions]="{disabled: true}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo FECHA ALTA"></dxi-validation-rule>
                            </dxi-item> -->

                            <dxi-item dataField="IdAlmacen" editorType="dxSelectBox" [editorOptions]="{disabled:false, dataSource:arrayAlmacenes, displayExpr:'NombreAlmacen', valueExpr:'IdAlmacen', searchEnabled: true }">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo ALMACEN"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="FechaInicio" editorType="dxDateBox" [editorOptions]="{disabled: false, width: '100%', displayFormat: 'dd/MM/yyyy'}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo FECHA INICIO"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="FechaFin" editorType="dxDateBox" [editorOptions]="{disabled: false, width: '100%', displayFormat: 'dd/MM/yyyy'}">
                                <dxi-validation-rule *ngIf="requerirFechaFin" type="required" message="Debe indicar un valor para el campo FECHA FIN"></dxi-validation-rule>
                            </dxi-item>

                            <!-- <dxi-item dataField="IdClienteERP"  [colSpan]="1" [editorOptions]="{disabled: true}">
                                <dxi-validation-rule type="required" message="Debe indicar un valor para el campo ID CLIENTE"></dxi-validation-rule>
                            </dxi-item>                             -->
                            <dxi-item dataField="NombreCliente" [colSpan]="1" [editorOptions]="{disabled: false}">
                                <!-- <dxi-validation-rule type="required" message="Debe indicar un valor para el campo NOMBRE CLIENTE"></dxi-validation-rule> -->
                            </dxi-item>                            
                            <dxi-item dataField="Referencia" class="dxbold" [editorOptions]="{disabled: false}">
                                <!-- <dxi-validation-rule type="required" message="Debe indicar un valor para el campo REFERENCIA"></dxi-validation-rule> -->
                            </dxi-item>
                            <dxi-item dataField="Obra" [editorOptions]="{disabled: false}">
                                <!-- <dxi-validation-rule type="required" message="Debe indicar un valor para el campo OBRA"></dxi-validation-rule> -->
                            </dxi-item>

                            <!-- <dxi-item itemType="empty" [colSpan]="1"></dxi-item> -->
                    </dx-form>
                </div>
            </div>


            <!-- TextBox contrato venta/alquiler a importar + botones Buscar | limpiar -->
            <!-- <div class="row px-1 pt-1">
                <div class="col-2 px-2 pt-1 text-right">
                    <div class="fs-11 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16"> {{traducir('frm-importar-csv.lblNumContrato', 'Num.Contrato')}} </div>    
                </div>
                <div class="col-6 px-1">
                    <dx-text-box #txtContrato class="w-100 fs-12 fs-sm-16 fs-md-16 fs-lg-16 fs-xl-16" [height]="30" [showClearButton]="false" 
                    [(ngModel)]="str_txtContrato"
                    [ngStyle]="{'background-color': color_txtContrato}" 
                    (onEnterKey)="onEnterKey_campo()" 
                    (onValueChanged)="onValueChanged_campo()"  
                    format="text"  
                    [readOnly]="contratoValido">
                </dx-text-box>
                </div>                        
                <div class="col-2 px-1"><app-cmp-boton-icono-hrz [btnIconoHrz]="btnIconoBuscar"></app-cmp-boton-icono-hrz></div>
                <div class="col-2 px-1"><app-cmp-boton-icono-hrz [btnIconoHrz]="btnIconoLimpiar"></app-cmp-boton-icono-hrz></div>
            </div> -->

            <hr style="margin: 0.5rem 0;">            
            <div class="row px-1">
                <!-- <div class="col-10 px-1 pt-1">
                    <div class="row px-2"><input type="file" accept=".csv" (change)="guardarCsv($event.target.files)"></div>               
                </div>
                <div class="col-2 px-1 pt-1">
                    <button class="btn btn-primary" style="float: right;" (click)="cargarDatos()" type="submit">Cargar Fichero</button>
                </div> -->
                <div class="col-10 px-1 pt-1">
                    <div class="row px-2">
                        <input type="file" #FicheroCSV id="txtFicheroCSV" accept=".csv" (change)="leerFicheroCSV_2_Array($event)">
                    </div>               
                </div>
                <div class="col-2 px-1 pt-1">
                    <button class="btn btn-primary btn-sm" style="float: right; height: 30px;" (click)="fileReset()" type="submit"><i class="bi bi-x-circle-fill px-1"></i>Limpiar fichero</button>
                </div>                
            </div>            
         
                  
            <!-- grid lineas venta cargadas del CSVs -->    
            <div class="row px-2 pt-1">
                <div class="col pt-1 px-1">    
                    <app-cmp-data-grid #dg [dgConfig]="dgConfigLineas"></app-cmp-data-grid>
                </div>
            </div>                       
        </div>

    </div>
</div>

<div #btnFooter>
    <app-cmp-botones-pantallas [botones]="btnAciones"></app-cmp-botones-pantallas>
</div>

<!-- popUp Editar Linea Salida -->
<dx-popup *ngIf="popUpVisibleEditarLinea" #popUpEditarLinea (window:resize)="onResize($event)" [dragEnabled]="false" modal="true" height="300px" width="960px"
    [fullScreen]="false" 
    [(visible)]="popUpVisibleEditarLinea" [showTitle]="true" [showCloseButton]="true" [closeOnOutsideClick]="false" 
    title="{{traducir('frm-venta-detalles.str_txtPopupEditarLinea', 'Editar Línea Salida')}}"
    contentTemplate="contentEditarLinea">
    <div *dxTemplate="let data of 'contentEditarLinea'">
        <app-frm-venta-lineas [linea]="lineaSeleccionada" (cerrarPopUp)="cerrarEditarLinea($event)"></app-frm-venta-lineas>
    </div>    
</dx-popup>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" 
    [message]="loadingMessage" [(visible)]="loadingVisible" [indicatorSrc]="indicatorUrl" 
    [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>
