/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-icons/font/bootstrap-icons.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* redefinicion tamaño maximo .container de bootstrap -> ajustar o comentar segun proyectos 
default:
    Extra small (<576px) -> 100%
    Small (≥576px) -> 540px
    Medium (≥768px) -> 720px
    Large (≥992px) -> 960px
    X-Large (≥1200px) -> 1140px
    XX-Large (≥1400px) -> 1320px
*/
.container {max-width: 96% !important;} 
.ancho {max-width: 96% !important;} 

.dx-state-disabled .dx-widget,
.dx-state-disabled.dx-widget {
    opacity: .9 !important;
}

.dx-texteditor-container {
    align-items: center;
}

.centerBold .dx-texteditor-input {
    font-weight: bold;
    text-align: center;
}

.dxbold .dx-texteditor-input {
    font-weight: bold;
}

.dxcenter .dx-texteditor-input {
    text-align: center;
}

.titulo {
    text-align: center;
    background-color: lightgray;
    color: black;
    border-bottom: 2px #2b2b2c solid;    
}