/* Tamaños para las cabeceras de las columnas del dataGridUnidades */

::ng-deep .dx-header-row {
    font-size: 10px;
    height: 30px;
}


/* Colores de las cabeceras de las columnas del dataGridUnidades */

::ng-deep .dx-header-row .grisClaro,
::ng-deep .dx-header-row .verde,
::ng-deep .dx-header-row .gris,
::ng-deep .dx-header-row .blanco,
::ng-deep .dx-header-row .fecha,
::ng-deep .dx-header-row .rojoClaro,
::ng-deep .dx-header-row .grisClaroBold,
::ng-deep .dx-header-row .verdeBold,
::ng-deep .dx-header-row .grisBold,
::ng-deep .dx-header-row .fechaBold,
::ng-deep .dx-header-row .rojoClaroBold {
    color: black;
}

::ng-deep .dx-header-row .blancoBold {
    color: black;
    font-weight: bold;
}

::ng-deep .dx-header-row .grisClaro {
    background-color: #f2f2f2;
}

::ng-deep .dx-header-row .grisClaroBold {
    background-color: #f2f2f2;
    font-weight: bold;
}

::ng-deep .dx-header-row .verde {
    background-color: rgb(0, 118, 4);
}

::ng-deep .dx-header-row .verdeBold {
    background-color: rgb(0, 118, 4);
    font-weight: bold;
}

::ng-deep .dx-header-row .gris {
    background-color: rgb(227, 227, 227);
}

::ng-deep .dx-header-row .grisBold {
    background-color: rgb(227, 227, 227);
    font-weight: bold;
}

::ng-deep .dx-header-row .fecha {
    background-color: yellow;
}

::ng-deep .dx-header-row .fechaBold {
    background-color: yellow;
    font-weight: bold;
}

::ng-deep .dx-header-row .fechaRoja {
    background-color: yellow;
    color: red;
}

::ng-deep .dx-header-row .fechaRojaBold {
    background-color: yellow;
    color: black;
    font-weight: bold;
}

::ng-deep .dx-header-row .rojoClaro {
    background-color: rgb(255, 183, 183);
}

::ng-deep .dx-header-row .rojoClaroBold {
    background-color: rgb(255, 183, 183);
    font-weight: bold;
}


/* Fechas de la oferta seleccionada */

.fechaInicio ::ng-deep .dx-texteditor-input,
.fechaFin ::ng-deep .dx-texteditor-input {
    color: white;
}